body, html{
    background-color: #000;
    overflow: hidden;
    color: white;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

#infoBox {
    padding: 1em;
    border: 1px solid blue;
    z-index: 9999;
    position: fixed;
}

#picture {
    width: 50vw;
    height: auto;
    margin-left: -120px;
    margin-top: -90px;
}


.bird{
	width:50px;
	height:50px;
	position: absolute;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.tree{
    width:300px;
    height:300px;
    bottom: 0;
    position: absolute;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.star {
	position: absolute;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.body-1-hand, .body-2-hand, .body-3-hand, .body-4-hand, .body-5-hand, .body-6-hand, .hand{
    width:40px;
    height:40px;
    position: absolute;
    top:100px;
    left:100px;
    /*-webkit-box-shadow: 0 0 20px 5px rgba(255,255,255,1);
    box-shadow: 0 0 20px 5px rgba(255,255,255,1);*/
    background-size:contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
}

h4{
    font-size:14px;
}

.closed{
    display: none;
}
